<div style="padding: 40px 100px; background: #F1F3F5;">
    <div style="text-align: center; background: #ffffff; padding: 50px; border: 1px solid rgb(237, 237, 237)">
        <a href="https://selby.no" title="Landing Page - Selby AS">
            <img width="200" alt="Selby Customer Support Banner" src="https://cdn.selby.as/brand/selby-support-banner-icon-300x300.png">
        </a>

        <br><br>

        <div>
            Hei, {%customer.fullName%}!
        </div>

        <br><br>

        <div>
            Dette er en bekreftelse på at <span style="color: rgb(57, 132, 198);"><b>{%mailbox.fromName%}</b></span> har mottatt din henvendelse.<br>
            Forespørselen har fått tildelt saksnummer <b>#{%conversation.number%}</b>.
        </div>

        <br><br>

        <div>
            Vi oppdaterer deg så snart det blir tildelt en saksbehandler og innledende arbeid iverksettes.
        </div>
    </div>

</div>
