<div style="padding: 3vh 6vw; background: #F1F3F5;">
    <div style="text-align: center; background: #ffffff; padding: 5vw; border: 1px solid rgb(237, 237, 237)">
        <a href="https://selby.no" title="Landing Page - Selby AS">
            <img alt="Selby Customer Support Banner"
                src="https://cdn.selby.as/brand/selby-support-banner-icon-300x300.png" width="200">
        </a>

        <br><br>

        <div>
            Hei, {%customer.fullName%}!
        </div>

        <br><br>

        <div>
            Dette er en bekreftelse på at&nbsp;</div>
        <div><span style="color: rgb(57, 132, 198);"><b>{%mailbox.fromName%}</b></span><br> har mottatt din henvendelse.
        </div>
        <div><br>
            Forespørselen har fått tildelt saksnummer <br><b>#{%conversation.number%}</b></div>

        <br><br>

        <div>
            Vi oppdaterer deg når vi iverksetter behandling av saken.
        </div>
    </div>

</div>
