<div>
    <br><br><br><br><br>
    <span class="color" style="color: rgb(193, 193, 193);">━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</span>
</div>

<div style="font-family: verdana, sans-serif, sans-serif; font-variant-caps: all-small-caps; padding-left: 6px;">
    <span style="color: rgb(9, 143, 185);"><b>{%user.fullName%}</b></span>
    <span>&mdash;</span>
    <span style="color: rgb(128, 128, 128);">{%mailbox.name%}</span>
    <span>&mdash;</span>
    <span style="color: rgb(128, 128, 128);"><b>Selby AS</b></span>
</div>

<div>
    <br>
    <a href="https://selby.no" title="Landing Page - Selby AS">
        <img src="{%user.photoUrl%}" width="45" height="45" style="margin-right: 10px; max-width:45px; max-height:45px; border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;" alt="Profile Picture">
        <img src="https://cdn.selby.as/brand/selby-logo-banner-320x89.png" width="183" alt="Selby Logo Banner">
    </a>
</div>
